.App {
  text-align: center;
}

.pagination {
  justify-content: center;
  
  button {
    margin: 5px;
  }
}

.actions {
  display: flex;

  .btn {
    margin: 5px;
  }
}

.form-actions {
  display: flex;
  justify-content: center;

  .btn {
    margin: 5px;
  }
}

.search-box {
  display: flex;
  width: 500px;
  margin: auto;
  justify-content: center;
}

.filters {
  input[type=radio] {
    margin-left: 7px;
    margin-right: 7px;
  }
}

.result-table {
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
